*{
  margin: auto;
  padding: auto;
} 
body{
  margin: 5% 25%;
  background-color: #228CBE;
}
  input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 1px 0;
  border: 1px solid;
  box-sizing: border-box;
  background-color: #ffffff;
  }
  button {
    background-color: blueviolet;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
  }
  .container {  
    padding: 16px;
  }
  span.psw {
    float: right;
    padding-top: 16px;
  }
  span.psw {
    display: block;
    float: none;
  }
  #Login {
padding: 50px, 0px;
background-color: #228CBE;
color: rgb(190, 179, 52);
  }
#Login h1 {
  font-weight: bolder;
  font-size: 40px;
  padding : 20px 0px;
 }