#editer{
    border: 1px solid goldenrod; 
    width: 400px;
    height: 200px;
    margin-bottom: 30px;
}
#editer img{
                 /* If you need to change the picture, you can set display:block; */
    display: block;
    max-width: 100px;
}
h1{
    text-align: center;
    color: grey;

}
footer{
    text-align: center;
}
*{
    background-color: gold;
}
h5{
    color: grey;
}